<body>
    <form method="post" enctype="multipart/form-data">
        {{ uf.as_p }}
        <input type="submit" value="regist"/>
    </form>
</body>
       
login.html
<body>
    <form method="post" enctype="multipart/form-data">
        {{ uf.as_p }}
        <input type="submit" value="login"/>
    </form>
</body>
       
index.html
<body>
    <h3>Welcome to this site !</h3>
    <p>hello  <span>{{ username }}</span> <p>
    {% if username != 'anybody' %}
    <a href="/logout/">logout</a>
    {% else %}
    <a href="/login/">login</a>
    {% endif %}
</body>
       
logout.html
<body>
    <h3>Good bye </h3>
    {% if username %}
    <a href="/login/">login</a>
    {% endif %}
</body>