<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>企业中心</title>
<style type="text/css">
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
	color: #9C0;
}
a:active {
	text-decoration: none;
	color: #FFF;
}
body {
	background-color: #FFF;
}
</style>
</head>

<body>
<p style="color: #000">&nbsp;</p>
<table width="760" table align="center" border="0" cellspacing="0" cellpadding="0">
  <tr style="font-size: 36pt; color: #FFF;">
    <th scope="col"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="center" valign="middle" bgcolor="#00CCFF" style="text-align: center; font-size: 24px; color: #FFF; font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;">
        <th height="40" style="color: #FFF; font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal;" scope="col"><div align="center"><strong>简直了</strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="/index">首页</a></strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="/forum">论坛</a></strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="/ch_password">修改密码</a></strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong>企业中心</strong></div></th>
      </tr>
    </table></th>
  </tr>
</table>
<p style="color: #FFF">&nbsp;</p>
<!--
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th height="50" style="text-align: left" scope="col">我的发布</th>
  </tr>
  <tr style="color: #000000">
    <td height="50" bgcolor="#FFFFFF"><table width="100%" border="1" cellspacing="0" cellpadding="0">
      <tr>
        <th width="10%" height="50" scope="col">序号</th>
        <th width="76%" scope="col">内容</th>
        <th width="14%" scope="col">操作</th>
      </tr>
      <tr style="text-align: center; font-size: 12px;">
        <td height="30">1</td>
        <td height="30">&nbsp;</td>
        <td height="30">删除</td>
      </tr>
      <tr>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
      </tr>
      <tr>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
      </tr>
      <tr>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
      </tr>
      <tr>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
      </tr>
      <tr>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
      </tr>
      <tr>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
      </tr>
      <tr>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
      </tr>
      <tr>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="50" align="center"><input type="button" style="width:80px; height:25px;" name="business_center_button_1" id="business_center_button_1" value="发布工作"></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th height="50" style="text-align: left" scope="col">工作申请</th>
  </tr>
  <tr>
    <td height="50"><table width="100%" border="1" cellpadding="0" cellspacing="0" id="table_gzsq_1">
      <tr style="font-weight: bold">
        <th width="10%" bgcolor="#FFFFFF" scope="col">序号</th>
        <th width="18%" height="50" bgcolor="#FFFFFF" scope="col">申请人姓名</th>
        <th width="42%" height="50" bgcolor="#FFFFFF" scope="col">工作内容</th>
        <th width="16%" height="50" bgcolor="#FFFFFF" scope="col">申请时间</th>
        <th width="14%" height="50" bgcolor="#FFFFFF" scope="col">意见</th>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="50" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="50" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="50" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="50" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="30" bgcolor="#FFFFFF">&nbsp;</td>
        <td height="50" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
-->
<center>
<p>我的发布</p>
{% for name in names %}
<p>{{name.title}}</p>
<p>{{name.intro}}</p>
{% endfor %}
</center>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
