<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>修改密码</title>
<style type="text/css">
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
	color: #9C0;
}
a:active {
	text-decoration: none;
	color: #FFF;
}
</style>
</head>

<body>
<p>&nbsp;</p>
<table width="760" table align="center" border="0" cellspacing="0" cellpadding="0">
  <tr style="font-size: 36pt; color: #FFF;">
    <th scope="col"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="center" valign="middle" bgcolor="#00CCFF" style="text-align: center; font-size: 24px; color: #FFF; font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;">
        <th height="40" style="color: #FFF; font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal;" scope="col"><div align="center"><strong>简直了</strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="home.html">首页</a></strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="forum.html">论坛</a></strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong>修改密码</strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong>个人中心</strong></div></th>
      </tr>
    </table></th>
  </tr>
</table>
<p>&nbsp;</p>
<table width="350" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th height="70" bgcolor="#FFFFFF" style="text-align: left" scope="col">修改密码：</th>
  </tr>
  <tr>
    <td height="50"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="38%" height="50" bgcolor="#FFFFFF" style="text-align: center; font-style: normal; font-weight: normal;" scope="col">用户名：</th>
        <th width="62%" height="50" bgcolor="#FFFFFF" style="text-align: left" scope="col"><input name="xgmm_1" type="text" id="xgmm_1" placeholder="请输入用户名" style="width:200px; height:25px;"></th>
      </tr>
      <tr>
        <td height="50" bgcolor="#FFFFFF" style="text-align: center">密码：</td>
        <td height="50" bgcolor="#FFFFFF" style="text-align: left"><input name="xgmm_2" type="text" id="xgmm_2" placeholder="请输入密码" style="width:200px; height:25px;"></td>
      </tr>
      <tr>
        <td height="50" bgcolor="#FFFFFF" style="text-align: center">输入新密码：</td>
        <td height="50" bgcolor="#FFFFFF" style="text-align: left"><input name="xgmm_3" type="text" id="xgmm_3" placeholder="请输入新密码" style="width:200px; height:25px;"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="80" span style="text-align: center">
      <span style="text-align: left"></span>
      <span style="text-align: left"></span>
      <span style="text-align: left"></span>
      <span style="text-align: left"></span>
      <span style="text-align: left"></span>
      <span style="text-align: left"></span>
      <span style="text-align: left"></span>
      <span style="text-align: left"></span>
      <span style="text-align: left"></span>
      <input type="submit" style="width:80px; height:25px;" name="submit_xgmm_1" id="submit_xgmm_1" value="确认修改">
    <span style="text-align: center"></span>    </td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
