<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>简历管理</title>
<style type="text/css">
a {
	font-size: 18px;
	color: #FFF;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
	color: #9C0;
}
a:active {
	text-decoration: none;
	color: #FFF;
}
</style>
</head>

<body>
<p>&nbsp;</p>
<table width="760" table align="center" border="0" cellspacing="0" cellpadding="0">
  <tr style="font-size: 36pt; color: #FFF;">
    <th scope="col"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="center" valign="middle" bgcolor="#00CCFF" style="text-align: center; font-size: 24px; color: #FFF; font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;">
        <th height="40" style="color: #FFF; font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal;" scope="col"><div align="center"><strong>简直了</strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="/index">首页</a></strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="/forum">论坛</a></strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="/publish">发布工作</a></strong></div></th>
      </tr>
    </table></th>
  </tr>
</table>
<!--
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th height="60" style="text-align: left; font-size: 18px; font-style: normal; font-family: Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', serif;" scope="col">填写简历：</th>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th scope="col"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="17%" height="50" style="text-align: center; font-weight: normal; font-style: normal;" scope="col">姓名：</th>
        <th width="83%" height="50" style="text-align: left" scope="col"><input type="text" style="width: 200px; height: 25px;" name="jl_1" id="jl_1"></th>
        </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;"> 城市：</td>
        <td height="50" style="text-align: left"><input type="text"style="width: 200px; height: 25px;" name="jl_2" id="jl_2"></td>
        </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;">学校：</td>
        <td height="50" style="text-align: left"><input type="text" style="width: 200px; height: 25px;" name="jl_3" id="jl_3"></td>
        </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;">年龄：</td>
        <td height="50" style="text-align: left"><input type="text" style="width: 200px; height: 25px;" name="jl_4" id="jl_4"></td>
        </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;">Q Q ：</td>
        <td height="50" style="text-align: left"><input type="text" style="width: 200px; height: 25px;" name="jl_5" id="jl_5"></td>
        </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;">联系电话：</td>
        <td height="50" style="text-align: left"><input type="text" style="width: 200px; height: 25px;" name="jl_6" id="jl_6"></td>
        </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;">联系邮箱：</td>
        <td height="50" style="text-align: left"><p>
          <input type="text" style="width: 200px; height: 25px;" name="jl_7" id="jl_7">
          </p></td>
        </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;">求职意向：</td>
        <td height="50" style="text-align: left"><input type="text" name="jl_8" style="width: 200px; height: 25px;" id="jl_8"></td>
        </tr>
      <tr>
        <td height="90" style="text-align: center; font-style: normal; font-weight: normal;">工作经验：</td>
        <td height="90" style="text-align: left"><textarea name="jl_9" style="width: 400px; height: 70px;" id="jl_9"></textarea></td>
        </tr>
      <tr>
        <td height="90" style="text-align: center; font-style: normal; font-weight: normal;">求职经验：</td>
        <td height="90" style="text-align: left"><textarea name="jl_10" style="width: 400px; height: 70px;" id="jl_10"></textarea></td>
      </tr>
    </table></th>
  </tr>
  <tr>
    <th height="60" scope="col"><input type="submit" style="width:40px; height:25px;" name="submit_jl_1" id="submit_jl_1" value="提交"></th>
  </tr>
</table>
-->
{%for item in error %}
  {%endfor%}
<center>
<form method = 'post' enctype="multipart/form-data">
	  {%csrf_token%}
	  <table>
		  {{r_f.as_table }}
	  </table>
	  <input type="submit" style="margin-left:80px" value="提交">
<p>&nbsp;</p>
<p></p>
</body>
</html>
