<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>校园组织认证</title>
<style type="text/css">
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
	color: #9C0;
}
a:active {
	text-decoration: none;
	color: #FFF;
}
</style>
</head>

<body>
<p>&nbsp;</p>
<table width="760" table align="center" border="0" cellspacing="0" cellpadding="0">
  <tr style="font-size: 36pt; color: #FFF;">
    <th scope="col"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="center" valign="middle" bgcolor="#00CCFF" style="text-align: center; font-size: 24px; color: #FFF; font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;">
        <th height="40" style="color: #FFF; font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal;" scope="col"><div align="center"><strong>简直了</strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="/index">首页</a></strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="/forum">论坛</a></strong></div></th>
        <th height="40" style="color: #FFF; font-size: 18px;" scope="col"><div align="center"><strong><a href="/school_publish">发布工作</a></strong></div></th>
      </tr>
    </table></th>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th height="90" style="text-align: left; font-size: 18px; font-style: normal; font-family: Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', serif;" scope="col">校园组织申请认证：</th>
  </tr>
</table>
<!--
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th scope="col"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="156" height="50" style="text-align: center; font-style: normal; font-weight: normal;" scope="col">学校名称：</th>
        <th width="604" height="50" style="text-align: left" scope="col"><input type="text" style="width:200px; height:25px;" name="xyrz_1" id="xyrz_1"></th>
      </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;">学校地址：</td>
        <td height="50" style="text-align: left"><input type="text" style="width:200px; height:25px;" name="xyrz_2" id="xyrz_2"></td>
      </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;">联系人：</td>
        <td height="50" style="text-align: left"><input type="text" style="width:200px; height:25px;" name="xyrz_3" id="xyrz_3"></td>
      </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;">联系电话：</td>
        <td height="50" style="text-align: left"><input type="text" style="width:200px; height:25px;" name="xyrz_4" id="xyrz_4"></td>
      </tr>
      <tr>
        <td height="50" style="text-align: center; font-style: normal; font-weight: normal;">学校简介：</td>
        <td height="90" style="text-align: left"><textarea style="width:400px; height:70px;" name="xyrz_5" id="xyrz_5"></textarea></td>
      </tr>
    </table></th>
  </tr>
  <tr>
    <td height="60" style="text-align: center"><input type="submit" style="width:80px; height:25px;" name="submit_xyrz_1" id="submit_xyrz_1" value="提交认证"></td>
  </tr>
</table>
-->
{%for item in error %}
  {%endfor%}
<center>
<form method = 'post' enctype="multipart/form-data">
	  {%csrf_token%}
	  <table>
		  {{sl_f.as_table }}
	  </table>
	  <input type="submit" style="margin-left:80px" value="提交认证">
<p>&nbsp;</p>
</body>
</html>
